.jumbotron {
  background-image: url(img/project/me.jpg);
  padding-top: 5rem;
  padding-bottom: 10rem;  
  position: relative;
  width: 100%;
  height: 60%;
  background-size: 100%;
  opacity: 0.8;
}

a {
  color: white;
}

section {
  padding-top: 4rem;
}

